.cart-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.cart-products li {
  border: 1px dotted black;
  height: 8rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item-image {
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.cart-item-buttonList {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.cart-products button {
  /* margin:1rem; */
  padding: 0.2rem 0.5rem;
  border: 1px solid black;
}