.catalog-products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.catalog-products li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-tile {
  border: 0.5px solid lightgray;
  padding: 0 0 5px 0;
}
a.product-tile__image{
  /* border: 1px dotted black; */
  height: 10rem;
  width: 10rem;
}

a.product-tile__desc {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.product-tile img {
  width: 200px;
  height: 200px;
  box-shadow: 2.5px 2.5px 5px 0px rgba(0, 0, 0, 0.3);
}

.product-tile:hover {
  transform: scale(1.05);
}

.product-tile__info {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
}

.product-tile__info .left{
  display:flex;
  /* flex-direction: column; */
  justify-content: left;
}

.product-tile__info .right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.catalog-item__image {
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.catalog-item__buttonList {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0 5px 0 5px;
}

.catalog-products button {
  padding: 0.2rem 0.5rem;
  border: 1px solid lightgray;
  border-radius: 50%;
}

