.homePageLayout {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.homePageLayout .sideNav {
  display: flex;
}

.homePageLayout .mainContent{
  display: flex;
  flex-direction: column;
}

/** CatalogFilter Styles */


.catalogFilters {
  display: flex;
  padding: 0px 0px 40px 0px;
  justify-content: center;
  gap: 16px;

}

.catalogFilters button {
  /* background: #efeff2; */
  border: 1px solid black;
  border-radius: 0%;
  /* box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3); */
}

.catalogFilters button:hover {
  outline: none;
  text-decoration: none;
  border: 1px solid black;
  transform: scale(1.05);
}
