#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 40px;
  padding: 2rem;
  background: #FAFAFA;
}

ul {
  list-style: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.error {
  /* background-color: #ff4d4d; */
  color: #e63946;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid #e63946;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.error_icon {
  padding-right: 5px;
}

.message {
  background-color: yellow;
  color: green;
}

.loading-container {
  text-align: center;
}

.loading-container p {
  font-size: 1.2rem;
  color: #555;
  margin-top: 1rem;
}

/* Spinner styles */
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.heading2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Media Queries */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {}

/* md */
@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}

/* sm */
@media (max-width: 640px) {}